/*Common Styles For all App*/

.btn{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 138, 255);
    background-color: rgba(229, 179, 135, 0);
    color: white;
    padding: 8px 25px;
    border-radius: 15px;
    box-shadow: 0 16x 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}