/*Common Styles For all App*/
.wrapper-page{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}
.content{
    margin-left: 350px;
    padding-top: 108px;
    width: 100%;
    min-height: 100vh;
}
*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}